/* css pour toute la page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%
}

h1{
    font-size: 2.1rem
}

h2{
    font-size: 1.8rem
}

h3{
    font-size: 1.5rem
}

p{
    font-size: 1.3rem
}

li{
    font-size: 1.8rem
}

a{
    color:white;
    text-decoration: none;
}



/* barre de navigation (header, nav...)*/

.intro{
    background: #144552;
    color: rgb(255, 255, 255);
    padding: 1.2rem;
    align-items: center;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;   
    justify-content: space-around;   /* les éléments sont répartis equitrablement dans leur parti assigné*/
    align-items: center;     
    list-style: none;    
}
                                                 /* la liste et le titre prennent 50% de l'écran */
                                                 /* les deux 1 permettent de séparer la header en 2 moitié*/
#titre{
    flex: 1 1 40rem;
    margin-left: 40px;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.logo{
    height: 5rem;
    width: auto;                           
    border: 5px solid #144552;
    border-radius: 3vh;
}

#pages{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    font-size: 2.3rem;
    color: black;
}

/* Synopsis */

.synopsis{
    background: #0B525B;
    color: white;
    padding: 2vh 0 2vh 2vh;

}

#head{
    color:white;
    text-decoration: underline #ffffff;
    margin-bottom: 3vh;
    margin-left: 2vh
}

#head:hover{
    color: #d41515;
    text-decoration: underline #d41515;
    transition:100ms;
}

.vidéo{
    text-align: right;
    margin-right: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#trailer{
    color: rgb(255, 255, 255);
    border: 3px solid white;
    padding:1vh;
    
    box-shadow: 10px 10px #1B3A4B;
}

#trailer:hover{
    font-size: 1.6rem;
    color:#d41515;
    border: 3px solid #d41515;
    box-shadow: 15px 15px #1B3A4B;
    transition: 300ms;
    
}

/* auteur*/

.auteur{
    background: #065A60;
    color: white;
    padding-bottom: 10vh;
}

#titre2{
    text-decoration: underline white;
    text-align: center;
    padding-top:3vh;
    margin-right:30vh;
    font-size: 1.8rem;
}

#titre2:hover{
    color: #d41515;
    text-decoration: underline #d41515;
    transition:100ms;
}

.image-auteur{
    
    float: right;
    height: 30vh;
    width: auto;
    margin-left: 3vh;
    margin-top: 3vh;
    margin-right: 3vh;

}

#biographie{
    margin-top: 10vh;
    margin-left: 3vh;
}












