/* css pour toute la page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%
}

h1{
    font-size: 2.1rem
}

h2{
    font-size: 1.8rem
}

h3{
    font-size: 1.5rem
}

p{
    font-size: 1.4rem
}

li{
    font-size: 1.8rem
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    font-size: 2.3rem;
    color: black;
}

/* barre de navigation (header, nav...)*/

.intro{
    background: #144552;
    color: rgb(255, 255, 255);
    padding: 1.2rem;
    align-items: center;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;   
    justify-content: space-around;   /* les éléments sont répartis equitrablement dans leur parti assigné*/
    align-items: center;     
    list-style: none;    
}
                                                 /* la liste et le titre prennent 50% de l'écran */
                                                 /* les deux 1 permettent de séparer la header en 2 moitié*/
#titre{
    flex: 1 1 40rem;
    margin-left: 40px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    height: 5rem;
    width: auto;                           
    border: 5px solid #144552;
    border-radius: 3vh;
}

#pages{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* texte manga*/

.manga{
    background: #e5e5e5;
    padding: 7vh 5vh 5vh 5vh;
}

span{
    border: 5px solid black;
    padding: 2vh 4vh 2vh 4vh;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    margin-left: 58vh;
}

.description{
    padding-top: 5vh;
    background: #e5e5e5;
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: justify;
}

#source{
    text-align: right;
    font-size: small;
   
}

/* images tomes */

.tomes{
    background: #e5e5e5;
    display: flex;
    justify-content:space-evenly;
    padding-top: 10vh;

   
}

.tome_first{
    width: 300px;
    height: 450px;
}

.pref_tome{
    width: 300px;
    height: 450px;
}
  
.last_tome{
    width: 300px;
    height: 450px;
}

.content_first , .content_second , .content_third{
    padding:5vh 5vh 3vh 5vh;
    background-color: white;
}

.content_first:hover , .content_second:hover , .content_third:hover {
    color: red;
    transition:150ms;
}


figcaption{
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
}

